<!-- src/app/molecules/category-form/category-form.component.html -->
<form *ngIf="categoryForm" [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="category-form">
  <app-label-input
    label="name"
    formControlName="name"
    placeholder="Ingrese el name de la categoría"
    [maxlength]=50
  ></app-label-input>

  <app-label-input
    label="Descripción"
    formControlName="description"
    placeholder="Ingrese una descripción"
    [maxlength]=90
  ></app-label-input>

  <app-button text="Agregar Categoría" type="submit" [disabled]="isLoading || categoryForm.invalid"></app-button>

  <div *ngIf="isLoading" class="loading-message">
      Procesando...
    </div>

  <div *ngIf="submissionError" class="error-message">
    {{ submissionError }}
  </div>
  <div *ngIf="submissionSuccess" class="success-message">
    {{ submissionSuccess }}
  </div>
</form>
