<!-- src/app/molecules/category-form/category-form.component.html -->
<form *ngIf="categoryForm" [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="category-form">
    <app-label-input
      label="name"
      [formControl]="name"
      placeholder="Ingrese el name de la categoría"
    ></app-label-input>
  
    <app-label-input
      label="Descripción"
      [formControl]="description"
      placeholder="Ingrese una descripción"
    ></app-label-input>
  
    <app-button text="Agregar Categoría" type="submit"></app-button>
  
    <div *ngIf="submissionError" class="error-message">
      {{ submissionError }}
    </div>
    <div *ngIf="submissionSuccess" class="success-message">
      {{ submissionSuccess }}
    </div>
  </form>
  